{% extends "_layouts/cp" %}

{% includeCssResource 'polls/css/chartist.min.css' %}
{% includeJsResource 'polls/js/chartist.min.js' %}

{% set title = "Poll Answers"|t %}

{# {% block sidebar %}
	{% if options is not empty %}
		<nav>
			<ul>
				<li class="heading"><span>{{ 'Options'|t }}</span></li>
				{% for key, option in options %}
					<li>
						<a data-key="{{ key }}">
							{{- option.label -}}
						</a>
					</li>
				{% endfor %}
			</ul>
		</nav>
	{% endif %}
{% endblock %} #}

{% set content %}

	{% if question.totalAnswers > 0 %}
		{% set js %}
			
			var labels = [];
			var series = [];
			{% for option in options %}
				{% set answersPercent = option.totalAnswers / question.totalAnswers * 100 %}
				labels.push('{{ option.label|slice(0, 24) }} ({{ answersPercent|round }}%)');
				series.push({{ option.totalAnswers }});
			{% endfor %}

			var chart = new Chartist.Bar('.ct-chart', {
			  labels: labels,
			  series: series
			}, {
				horizontalBars: true,
			  reverseData: true,
			  distributeSeries: true,
			  axisX: {
			  	onlyInteger: true
				},
			  axisY: {
			    offset: 120
			  }
			});

		{% endset %}
		{% includeJs js %}
	{% endif %}

	<div class="ct-chart"></div>

	<div id="noanswers"{% if answers %} class="hidden"{% endif %}>
		<p>{{ "No answers exist yet."|t }}</p>
	</div>

	{% if answers|length %}
		<table id="answers" class="data fullwidth collapsible">
			<thead>
				<th scope="col">{{ "ID"|t }}</th>
				<th scope="col">{{ "Option"|t }}</th>
				<th scope="col">{{ "User"|t }}</th>
				<th scope="col">{{ "Created"|t }}</th>
				<td class="thin"></td>
			</thead>
			<tbody>
				{% for answer in answers %}
					<tr data-id="{{ answer.id }}" data-name="Answer {{ answer.id }}">
						<th scope="row" data-title="{{ 'ID'|t }}">{{ answer.id }}</th>
						<td scope="row" data-title="{{ 'Option'|t }}"><a href="{{ answer.option.getCpEditUrl() }}">{{ answer.option.title }}</a></td>
						<td scope="row" data-title="{{ 'User'|t }}">
							{% if answer.user %}
							    <a href="{{ answer.user.getCpEditUrl() }}">{{ answer.user.username }}</a>
							{% else %}
							    Guest
							{% endif %}
						</td>
						<td scope="row" data-title="{{ 'Created'|t }}">{{ answer.dateCreated }}</td>

						<td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}


{% endset %}


{% set js %}
	var adminTable = new Craft.AdminTable({
		tableSelector: '#answers',
		noObjectsSelector: '#noanswers',
		newObjectBtnSelector: '#newanswercontainer',
		deleteAction: 'polls/answers/deleteAnswer',
		confirmDeleteMessage: '{{ "Are you sure you want to delete “{name}”?"|t }}'
	});
{% endset %}
{% includeJs js %}
