{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set questionSegment = '' %}
{% if question is defined %}
	{% set questionSegment = '/questions/' ~ question.id %}
{% endif %}

{% set pollHandle = poll.handle %}

{% block main %}
	<form id="option-form" method="post" accept-charset="UTF-8" data-saveshortcut="1" data-saveshortcut-redirect="{{ continueEditingUrl }}">
		<input type="hidden" name="action" value="polls/options/saveOption">
		<input type="hidden" name="redirect" value="polls/{{ poll.handle }}{{ questionSegment }}/options">
		{% if question is defined %}
			<input type="hidden" name="questionId" value="{{ question.id }}">
		{% endif %}
		{% if option.id %}
			<input type="hidden" name="optionId" value="{{ option.id }}">
		{% endif %}
		{% if optionType.id %}
			<input type="hidden" name="typeId" value="{{ optionType.id }}">
		{% endif %}
		{% if craft.isLocalized() %}
			<input type="hidden" name="locale" value="{{ option.locale }}">
		{% endif %}
		{{ getCsrfInput() }}

		<div class="grid first">
			<div class="item" data-position="left" data-min-colspan="2" data-max-colspan="3">
				<div id="fields" class="pane">
					{% include "_includes/tabs" %}

					{{ forms.textField({
						label: "Option text"|t,
						locale: option.locale,
						id: 'title',
						name: 'title',
						value: option.title,
						errors: option.getErrors('title'),
						first: true,
						autofocus: true,
						required: true
					}) }}

					<div>
						{% for tab in optionType.getFieldLayout().getTabs() %}
							<div id="tab{{ loop.index }}"{% if not loop.first %} class="hidden"{% endif %}>
								{% include "_includes/fields" with {
									fields:  tab.getFields(),
									element: option
								} only %}
							</div>
						{% endfor %}
					</div>

				</div>
			</div>

			<div class="item" data-position="right" data-colspan="1">

				{% if craft.isLocalized() and poll.getLocales() | length > 1 %}
					<ul id="locales" class="pane">
						{% set parentIdParam = craft.request.getParam('parentId.0') ?: craft.request.getParam('parentId') %}
						{% for localeId in localeIds %}
							{% set localeName = craft.i18n.getLocaleById(localeId).name %}
							<li{% if localeId == option.locale %} class="sel"{% endif %}>
								{%- if localeId == option.locale -%}
									{{ localeName }}
									{{ forms.lightswitch({
										name: 'localeEnabled',
										on:   option.localeEnabled,
										small: true,
										disabled: false
									}) }}
								{%- else -%}
									{% set localeUrl = url(
										'polls/'~pollHandle~questionSegment~'/options/'~craft.request.getSegment(6)~'/'~localeId,
										(parentIdParam ? { parentId: parentIdParam })
									) -%}
									<a href="{{ localeUrl }}">{{ localeName }}</a>
									<div class="status {{ localeId in enabledLocales ? 'enabled' : 'disabled' }}"></div>
								{%- endif -%}
							</li>
						{% endfor %}
					</ul>
				{% endif %}


			</div>
		</div>

		<div class="buttons">
			<div class="btngroup submit first">
				<input type="submit" class="btn submit" value="{{ 'Save'|t }}">

				<div class="btn submit menubtn"></div>
				<div class="menu">
					<ul>
						<li><a class="formsubmit" data-redirect="{{ continueEditingUrl }}">{{ "Save and continue editing"|t }}</a></li>
						<li><a class="formsubmit" data-redirect="polls/{{ poll.handle }}{{ questionSegment }}/options/new">{{ "Save and add another"|t }}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</form>
{% endblock %}
