{% extends "_layouts/elementindex" %}
{% set title = "Poll options"|t %}
{% set elementType = 'Polls_Option' %}


{% block sidebar %}
	<div class="buttons">
		<a class="btn submit add icon" href="{{ url('polls/'~poll.handle~'/questions/'~question.id~'/options/new') }}">{{ "New Option"|t }}</a>
	</div>

	{{ parent() }}
{% endblock %}

{% block initJs %}
	Craft.elementIndex = Craft.createElementIndex('{{ elementTypeClass }}', $('#main'), {
		context:        '{{ context }}',
		showStatusMenu: {{ showStatusMenu is defined ? showStatusMenu|json_encode|raw : "'auto'" }},
		showLocaleMenu: {{ showLocaleMenu is defined ? showLocaleMenu|json_encode|raw : "'auto'" }},
		storageKey:     'elementindex.{{ elementTypeClass }}',
		criteria:       { localeEnabled: null, questionId: {{ question.id }} }
	});
{% endblock %}
