{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set pollHandle = poll.handle %}

{% block main %}
	<form id="question-form" method="post" accept-charset="UTF-8" data-saveshortcut="1" data-saveshortcut-redirect="{{ continueEditingUrl }}">
		<input type="hidden" name="action" value="polls/questions/saveQuestion">
		<input type="hidden" name="redirect" value="polls/questions">
		<input type="hidden" name="pollId" value="{{ poll.id }}">
		{% if question.id %}
			<input type="hidden" name="questionId" value="{{ question.id }}">
		{% endif %}
		{% if questionType.id %}
			<input type="hidden" name="typeId" value="{{ questionType.id }}">
		{% endif %}
		{% if craft.isLocalized() %}
			<input type="hidden" name="locale" value="{{ question.locale }}">
		{% endif %}
		{{ getCsrfInput() }}

		<div class="grid first">
			<div class="item" data-position="left" data-min-colspan="2" data-max-colspan="3">
				<div id="fields" class="pane">
					{% include "_includes/tabs" %}

					{{ forms.textField({
						label: "Question"|t,
						locale: question.locale,
						id: 'title',
						name: 'title',
						value: question.title,
						errors: question.getErrors('title'),
						first: true,
						autofocus: true,
						required: true
					}) }}

					<div>
						{% for tab in questionType.getFieldLayout().getTabs() %}
							<div id="tab{{ loop.index }}"{% if not loop.first %} class="hidden"{% endif %}>
								{% include "_includes/fields" with {
									fields:  tab.getFields(),
									element: question
								} only %}
							</div>
						{% endfor %}
					</div>

				</div>
			</div>

			<div class="item" data-position="right" data-colspan="1">

				{% if craft.isLocalized() and poll.getLocales() | length > 1 %}
					<ul id="locales" class="pane">
						{% set parentIdParam = craft.request.getParam('parentId.0') ?: craft.request.getParam('parentId') %}
						{% for localeId in localeIds %}
							{% set localeName = craft.i18n.getLocaleById(localeId).name %}
							<li{% if localeId == question.locale %} class="sel"{% endif %}>
								{%- if localeId == question.locale -%}
									{{ localeName }}
									{{ forms.lightswitch({
										name: 'localeEnabled',
										on:   question.localeEnabled,
										small: true,
										disabled: false
									}) }}
								{%- else -%}
									{% set localeUrl = url(
										'polls/'~pollHandle~'/questions/'~craft.request.getSegment(4)~'/'~localeId,
										(parentIdParam ? { parentId: parentIdParam })
									) -%}
									<a href="{{ localeUrl }}">{{ localeName }}</a>
									<div class="status {{ localeId in enabledLocales ? 'enabled' : 'disabled' }}"></div>
								{%- endif -%}
							</li>
						{% endfor %}
					</ul>
				{% endif %}

				<div id="side-settings" class="pane">
					{{ forms.lightswitchField({
						label: 'Answer required'|t,
						instructions: 'Deny form submit if this question is not answered.'|t,
						id: 'answerRequired',
						name: 'answerRequired',
						on: (question) ? question.answerRequired : true
					}) }}

					{{ forms.lightswitchField({
						label: 'Multiple options'|t,
						instructions: 'Allow a user to select multiple poll options.'|t,
						id: 'multipleOptions',
						name: 'multipleOptions',
						on: (question) ? question.multipleOptions : false
					}) }}

					{{ forms.lightswitchField({
						label: 'Vote restriction'|t,
						instructions: 'Allow a user to vote more than once on the same poll.'|t,
						id: 'multipleVotes',
						name: 'multipleVotes',
						on: (question) ? question.multipleVotes : false
					}) }}
				</div>
			</div>
		</div>

		<div class="buttons">
			<div class="btngroup submit first">
				<input type="submit" class="btn submit" value="{{ 'Save'|t }}">

				<div class="btn submit menubtn"></div>
				<div class="menu">
					<ul>
						<li><a class="formsubmit" data-redirect="{{ continueEditingUrl }}">{{ "Save and continue editing"|t }}</a></li>
						<li><a class="formsubmit" data-redirect="polls/{{ poll.handle }}/questions/new">{{ "Save and add another"|t }}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</form>
{% endblock %}
